.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-body {
    display: flex;
    flex-direction: row;
    margin:20px;
    border:1px solid;
    border-radius: 5px;
    background-color:white
}

.ranking-group {
    margin:30px;
}

ol, li {
    border:1px solid;
    padding:15px;
    font-size: 20px;
    list-style:none;
    border-radius: 5px;
    margin:10px
}

button {
    width: 100px
}

.navigation-links {
    align-self:flex-end;
    margin-right:20px;
}

.ranking-scores {
    font-size: 18px;
    font-style: italic;
    margin-left:20px
}

.ranking-card {
    display:flex;
    flex-direction: row;
}